---
import Info from "../cards/Info.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
---

<section id="about-us">
    <Container className="flex flex-col midmd:flex-row gap-10 lg:gap-12">
        <div
            class="max-w-md mx-auto midmd:max-w-none lg:mx-0 lg:pr-10 xl:pr-2 flex-1 flex w-11/12 midmd:w-5/12 lg:w-1/2 midmd:h-auto"
        >
            <div class="w-full h-80 sm:h-96 midmd:h-full relative">
                <div
                    class="absolute rotate-45 -left-5 md:-left-10 lg:-left-20 xl:-left-24 p-1 top-1/2 w-16 h-16 bg-gradient-to-br from-primary to-orange-400 blur-3xl opacity-50"
                >
                </div>
                <div
                    class="absolute p-1 -top-4 md:-top-10 right-0 w-20 h-20 bg-gradient-to-br from-primary to-orange-400 rounded-full blur-3xl opacity-60"
                >
                </div>

                <span
                    class="absolute w-full aspect-[16/5] -skew-x-12 rounded-full bg-gradient-to-tr from-primary to-green-400 opacity-40 blur-2xl left-0 bottom-0"
                ></span>
                <img
                    src={"/images/psicologo1.jpeg"}
                    alt="banner image"
                    width="1240"
                    height="1385"
                    class="w-auto left-1/2 -translate-x-1/2 absolute bottom-0 max-h-full"
                />
            </div>
        </div>
        <div class="flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col">
            <Title>Carlos Alberto Coronado Patiño</Title>
            <Paragraph className="mt-8">
                Psicoterapia Gestalt, Acompañamiento humano
            </Paragraph>
            <Paragraph>
                Atencion a: Niños, adolecentes, pareja y familia.
            </Paragraph>

            <div
                class="pt-8 grid grid-cols-2 gap-4 max-w-3xl md:max-w-[none] auto-rows-min"
            >
                <div
                    class="flex flex-col justify-between p-6 bg-white border border-gray-200 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300 ease-in-out min-h-[10rem]"
                >
                    <div class="flex items-center space-x-2">
                        <span class="shrink-0">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="30"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="w-6 h-6 text-blue-500"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z"
                                ></path>
                            </svg>
                        </span>
                        <h3 class="text-xl font-semibold text-gray-900">
                            Misión
                        </h3>
                    </div>
                    <p class="text-gray-600 mt-2 text-sm sm:text-base">
                        Brindar terapia Gestalt que ilumine el camino del
                        autodescubrimiento y bienestar emocional, atendiendo con
                        calidez a niños, adolescentes, parejas y familias.
                    </p>
                </div>

                <div
                    class="flex flex-col justify-between p-6 bg-white border border-gray-200 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300 ease-in-out min-h-[10rem]"
                >
                    <div class="flex items-center space-x-2">
                        <span class="shrink-0">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="30"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="w-6 h-6 text-blue-500"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z"
                                ></path>
                            </svg>
                        </span>
                        <h3 class="text-xl font-semibold text-gray-900">
                            Visión
                        </h3>
                    </div>
                    <p class="text-gray-600 mt-2 text-sm sm:text-base">
                        Ser líderes en psicoterapia humanista, ofreciendo
                        experiencias transformadoras que fomenten la armonía
                        personal y familiar en nuestros pacientes.
                    </p>
                </div>
            </div>

            <div class="bg-white p-4 border rounded-lg shadow-md w-full mt-2 ">
                <h3 class="text-lg font-bold text-center mb-2">Contacto</h3>
                <p class="text-center text-gray-600 mb-4">4441215987</p>
                <a
                    href="https://api.whatsapp.com/send?phone=4441215987"
                    target="_blank"
                    class="block bg-green-500 text-white font-bold py-2 px-4 rounded-full hover:bg-green-600 transition-colors duration-300 ease-in-out text-center"
                >
                    Contactar por WhatsApp
                </a>
            </div>
        </div>
    </Container>
</section>
