---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/sections/Hero.astro';
import Services from '../components/sections/Services.astro';
import AboutUs from '../components/sections/AboutUs.astro';
import AboutUs2 from '../components/sections/AboutUs2.astro';
import Features from '../components/sections/Features.astro';
import CTA from '../components/sections/CTA.astro';
import Brands from '../components/sections/Brands.astro';
import Location from '../components/sections/Location.astro';
---

<Layout title="Centro de Desarrollo Socio Emocional y Psicoterapia">
	<main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
		<Hero/>
		<!-- <Brands/> -->
		<Services/>
		<AboutUs/>
		<AboutUs2/>
		<Features/>
		<Location/>

		<CTA/>
	</main>
</Layout>